.container {
  min-height: 100%;

  ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-label {
      color: #21313d;
      font-weight: 800;
      font-size: 24px;
    }

    .btn-row {
      width: 100%;
  
      ion-button {
        height: 45px;
        width: 100%;
        --border-radius: 8px;
        --box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  
        ion-icon, img {
          color: #ffffff;
          height: 16px;
          width: 16px;
          margin-right: 16px;
        }
  
        ion-label {
          color: #ffffff;
          text-transform: none;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.43px;
        }
      }
    }
  }

  ion-list {
    padding: 0;
    border-top: 0.5px solid #09203f;

    ion-item-sliding {
      border-bottom: 0.5px solid #09203f;

      ion-item {
        --padding-start: 0px;
        --inner-padding-end: 0px;
  
        ion-avatar {
          ion-icon {
            font-size: 40px;
            color:#537895
          }
        }
  
        ion-label {
          padding-left: 10px;
  
          h2 {
            font-size: 16px;
            font-weight: 600;
            color: #09203f;
          }
  
          ion-note {
            font-size: 12px;
            font-weight: 500;
          }
          
        }
      }
  
      ion-item-option {
        display: flex;
        justify-content: center;
        align-items: center;
  
        ion-icon {
          font-size: 20px;
        }
      }
    }
  }
}

.warning-content {
  background-color:#f00;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: px2rem(2px);
}