
.qrscanner-area {

    position: fixed;
    height: 86%;
    width: 100%;
    background: url(../../../assets/images/scanner.svg) no-repeat center center;
    background-size: contain;
}

.through-line {
    left: 25%;
    width: 50%;
    height: 2px;
    background: red;
    position: absolute;
    animation: myfirst 2s linear infinite alternate;
}
@keyframes myfirst {
    0% {
        background: red;
        top: 30%;
    }
    25% {
        background: yellow;
        top: 35%;
    }
    50% {
        background: blue;
        top: 40%;
    }
    75% {
        background: green;
        top: 45%;
    }
    100% {
        background: red;
        top: 50%;
    }
}
.button-bottom {
    width: 100px;
    position: absolute;
    bottom: 80px;
    left: 45%;
    // margin-left: -64px;
    .icon-camera {
        width: 60px;
        height: 30px;
        float: left;
    }
}

.cameraView {
    --background: transparent none !important;
}
