
@import "../../functions.scss";

#bg {
    margin-left: px2rem(65px);
    width: px2rem(620px);
    height: px2rem(800px);
    background-color: white;
    border-width: 1px;
    border-radius: 2px;
    color: #000;
    text-align: center;

    #title {
        padding-top: px2rem(35px);
        font-size: 18px;
    }

    qrcode {
        // margin-left: px2rem(40px);
        margin-top: px2rem(80px);
        width: px2rem(540px);
        height: px2rem(540px);
        display:inline-block;
    }

    #address {
        margin-left: px2rem(40px);
        margin-right: px2rem(40px);
        margin-top: px2rem(48px);
        font-size: 12px;
        text-align: center;
        word-wrap: break-word;
        color: #203755;
    }

    ion-button {
        margin-top: px2rem(48px);
    }
}

