<ion-content>
  <div class="container ion-padding">
    <ion-grid class="ion-padding">
      <h5>Add Friend Address: </h5>
      <ion-input required type="text" placeholder="Enter Address" [(ngModel)]="address" value="address"> </ion-input>
      <h5>Add Friend Message: </h5>
      <ion-input required type="text" placeholder="Hello" [(ngModel)]="friendRequest" > </ion-input>
      <ion-button color="primary" (click)="addFriend()">
        <ion-label>Send Friend Request</ion-label>
      </ion-button>
    </ion-grid>
  </div>
</ion-content>
