h5 {
  font-weight: 500;
  font-size: 12px;
  margin: 5px;
  color: #203755;
}

ion-input {
  margin-bottom: 16px;
  height: 45px;
  width: 100%;
  background: #f4f4f4;
  border-radius: 8px;
  font-size: 13px;
  text-align: left;
}